/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: hwb(79 30% 13%);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.section {
    padding: 50px 0;
}

#about {
    background: #fff;
    text-align: center;
}

#events {
    background: #d6a0a0;
}

.event-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event {
    background: #769a9c;
    padding: 20px;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px #83d1231a;
}

#contact {
    background: #6b7874;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #785353;
}

footer {
    background: #563333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
